.toolbar {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  button {
    margin-right: 8px;
    padding: 4px 8px;
  }
}
.editor_header{
  margin-bottom: 25px;
}
.editor_window{
  border:1px solid black;
  min-height: 30vh;
  padding: 8px;
}